 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
 /*header start*/

  /*header start*/
  .logo h1 {
    
    font-size: 25px;
   
}
  .menu ul li a {
    font-size: 15px;
    padding: 10px 0 0 !important;
}
.ddn-s[data-bs-popper] {
    top: 0px;
    left: 35px;
    text-align: center;
}
.ddn-s {
    width: 200px;
    
}
/*banner start*/
  .bs_item{
    margin-top: 120px;
    margin-bottom: 120px;
}

.bs_item h2 {
       
    font-size: 25px;
   
}
.bs_item p {
     margin: 30px 0 30px;
    line-height: 25px;
}
.bs_item button {
    height: 40px;
    width: 130px;
    }
    .bs_item button{
      font-size: 13px;
    }
/*banner end*/
 /*welcome start*/
  .s-cos {
   
    height: 35px;
    width: 2px;
   
  }
  .c-h2 {
    
    font-size: 25px;
    
     }
   .ws-item {
    
    margin-bottom: 40px;
   
}
/*welcome end*/
/*about start*/
.h2 {
   
    margin: 20px 2px 20px;
}
.p {
    margin: 15px 0 30px;
}
/*service start*/
.about {
    padding-bottom: 50px;
}
.usimg {
    text-align: center;
    padding-bottom: 60px;
}
.recent {
    padding-bottom: 10px;
}

.us-h1 {
  margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}
.us-p {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 22px;
   
}
.about-p {
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 25px;

}
.c-buttom {
    font-size: 22px;
    
}
/*com work*/
.Work {
    padding-top: 30px;
}
/*house start*/
.Work {
    
    padding-bottom: 70px;
}
.h-img {
    width: 500px;
}

/*nipro start*/
.lorem {
    margin-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8e8e8e;
    font-size: 15px;
}
.creativ {
        margin-top: 9px;
    font-size: 18px;
    
}
.read {
    padding-top: 0px;
}
.s-nipro {
    margin-top: 60px;
    
}
.asraful {
    margin: 65px auto 0;
}
/*price start*/
.price-s {
    
    margin-bottom: 60px;
    
}

   

.Template {
    padding-bottom: 50px;
    
}
.Template h5 {
    font-size: 15px;
    line-height: 22px;
}
.Ipsum {
    
    font-size: 15px !important;
    
}
/*footer start*/
.s-row {
    padding-bottom: 60px;
    margin-right: 20px;
    text-align: left;
}
.s-row ul li a {
    margin: 1px 10px;
    font-size: 24px;
    
    border: 1px solid #fff;
}
.s-row ul li a {
    margin: 1px -1px;
    font-size: 24px;
   
    margin-right: 15px;
}
.Agency {
   
    text-align: center;
}

 }
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  

  /*header start*/
  .menu ul li a {
    
    padding: 15px 0 0 !important;
    
}
.ddn-s[data-bs-popper] {
    top: 0px;
    left: 100px;
    text-align: center;
}
/*banner start*/
  .bs_item{
    margin-top: 120px;
    margin-bottom: 120px;
}

.bs_item h2 {
    
    font-size: 40px;
   
}
.bs_item p {
    margin: 30px 0 30px;
    line-height: 25px;
}
.bs_item button {
    height: 40px;
    width: 130px;
    }
    .bs_item button{
      font-size: 13px;
    }
/*banner end*/
  /*welcome start*/
  .s-cos {
   
    height: 35px;
    width: 2px;
   
  }
   .ws-item {
    
    margin-bottom: 60px;
   
}
/*welcome end*/
/*about start*/

.usimg {
    
    text-align: center;
}

  /*com start*/
   
.Work {
    padding-top: 40PX;
    
}
.design {
    font-size: 15px;
    
}
.custom {
    padding: 0;
}
/*house start*/
.Work {
    
    padding-bottom: 80px;
}
.h-img {
    width: 500px;
}
/*nipro start*/
.creativ {
    
    font-size: 16px;
    
}
/*price start*/
.price-s {
    
    margin-bottom: 70px;
    
}
.lorem {
    margin-top: 25px;
    padding-bottom: 20px;
    
}
.Template {
    padding-bottom: 70px;
    
}
/*footer start*/
.f-paragrp {
    
    padding-bottom: 25px;
    padding-top: 25px;
}
.s-row ul li a {
    margin: 1px 12px;
    font-size: 24px;
    
    border: 1px solid #fff;
}
.s-row {
    padding-bottom: 60px;
}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  
  /*header start*/
  .menu ul li a {
    
    padding: 15px 0 0 !important;
    
}
.ddn-s[data-bs-popper] {
    top: 0px;
    left: 100px;
    text-align: center;
}
 /*banner start*/
  .bs_item{
    margin-top: 170px;
    margin-bottom: 170px;
}

.bs_item h2 {
    
    font-size: 50px;
   
}
.bs_item p {
   
    line-height: 25px;
}
.bs_item button {
    height: 50px;
    width: 150px;
    }
/*banner end*/
   /*welcome start*/
   .s-cos {
   
    height: 40px;
    width: 2px;
   
  }
  .ws-item {
    
    margin-bottom: 70px;
   
}
   /*welcome end*/
   /*about start*/

.usimg {
    
    text-align: center;
}
/*com work start*/
.Work {
    padding-top: 70PX;
    
}
/*house start*/
.Work {
    
    padding-bottom: 80px;
}
.h-img {
    width: 500px;
}
/*price start*/
.price-s {
    
   
    padding-left: 50px;
}

.price h2 {
    
    font-size: 25px;
   
    margin: 30px 0 30px;
}
.price p {
    line-height: 18px;
    font-size: 15px;
}
.Template {
    padding-bottom: 90px;
}
/*price end*/
/*footer start*/
.f-paragrp {
    color: #fff;
    padding-bottom: 25px;
    padding-top: 25px;
    line-height: 20px;
}
.s-row {
    padding-bottom: 50px;
}
.s-row ul li a {
    margin: 1px 10px;
    font-size: 24px;
    border: 1px solid #fff !important;
}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  /*banner start*/
  .bs_item{
    margin-top: 190px;
    margin-bottom: 190px;
}

.bs_item h2 {
    
    font-size: 50px;
   
}
/*banner end*/
  .us-h1 {
    
    margin-bottom: 30px;
}
 .us-p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
}
.about-p {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
}
/*footer start*/

}

 
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
   .us-p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 32px;
}
.about-p {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 32px;
}
  
 }

 /* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 

 }